/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

html {
  height: 100%;
  width: 100%;

  /*--debug-hit-box:  1px solid white;*/
  --debug-hit-box: none;
}

body {
  background-image: url('ArtDumWebsite/sprites/room.png');
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

body {
  color: white;
  font-family: Times New Roman, serif;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

/* Cursor */
body {
  cursor: url('ArtDumWebsite/sprites/hand_open.ico'), auto;
}

a:hover, button:hover, #drawer:hover, #drawer *:hover {
  cursor: url('ArtDumWebsite/sprites/hand_point.ico'), pointer;
}

#screen {
  cursor: auto;
}

/* Animated petpet cursor */
.petpet:hover {
  cursor: url('ArtDumWebsite/sprites/petpet/petpet1.png') 16 16, auto;
  -webkit-animation: petpet-cursor 400ms infinite;
  animation: petpet-cursor 400ms infinite;
}

@-webkit-keyframes petpet-cursor {
  0% { cursor: url('ArtDumWebsite/sprites/petpet/petpet1.png') 16 16, auto; }
  12.5% { cursor: url('ArtDumWebsite/sprites/petpet/petpet2.png') 16 16, auto; }
  25% { cursor: url('ArtDumWebsite/sprites/petpet/petpet3.png') 16 16, auto; }
  37.5% { cursor: url('ArtDumWebsite/sprites/petpet/petpet4.png') 16 16, auto; }
  50% { cursor: url('ArtDumWebsite/sprites/petpet/petpet5.png') 16 16, auto; }
  62.5% { cursor: url('ArtDumWebsite/sprites/petpet/petpet6.png') 16 16, auto; }
  75% { cursor: url('ArtDumWebsite/sprites/petpet/petpet7.png') 16 16, auto; }
  87.5% { cursor: url('ArtDumWebsite/sprites/petpet/petpet8.png') 16 16, auto; }
  100% { cursor: url('ArtDumWebsite/sprites/petpet/petpet9.png') 16 16, auto; }
}

@keyframes petpet-cursor {
  0% { cursor: url('ArtDumWebsite/sprites/petpet/petpet1.png') 16 16, auto; }
  12.5% { cursor: url('ArtDumWebsite/sprites/petpet/petpet2.png') 16 16, auto; }
  25% { cursor: url('ArtDumWebsite/sprites/petpet/petpet3.png') 16 16, auto; }
  37.5% { cursor: url('ArtDumWebsite/sprites/petpet/petpet4.png') 16 16, auto; }
  50% { cursor: url('ArtDumWebsite/sprites/petpet/petpet5.png') 16 16, auto; }
  62.5% { cursor: url('ArtDumWebsite/sprites/petpet/petpet6.png') 16 16, auto; }
  75% { cursor: url('ArtDumWebsite/sprites/petpet/petpet7.png') 16 16, auto; }
  87.5% { cursor: url('ArtDumWebsite/sprites/petpet/petpet8.png') 16 16, auto; }
  100% { cursor: url('ArtDumWebsite/sprites/petpet/petpet9.png') 16 16, auto; }
}

/* Preload images */
body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1; /* Hide images */
  content: url('ArtDumWebsite/sprites/table/open_close/table1.png') url('ArtDumWebsite/sprites/table/open_close/table2.png') url('ArtDumWebsite/sprites/table/open_close/table3.png') url('ArtDumWebsite/sprites/table/open_close/table4.png') url('ArtDumWebsite/sprites/table/open_close/table5.png') url('ArtDumWebsite/sprites/table/open_close/table6.png') url('ArtDumWebsite/sprites/table/open_close/table7.png') url('ArtDumWebsite/sprites/table/open_close/table8.png') url('ArtDumWebsite/sprites/table/open_close/table9.png') url('ArtDumWebsite/sprites/table/open_close/table10.png') url('ArtDumWebsite/sprites/table/open_close/table11.png') url('ArtDumWebsite/sprites/table/open_close/table12.png') url('ArtDumWebsite/sprites/table/earth/earth_spin1.png') url('ArtDumWebsite/sprites/table/earth/earth_spin2.png') url('ArtDumWebsite/sprites/table/earth/earth_spin3.png') url('ArtDumWebsite/sprites/table/earth/earth_spin4.png') url('ArtDumWebsite/sprites/table/earth/earth_spin5.png') url('ArtDumWebsite/sprites/table/earth/earth_spin6.png') url('ArtDumWebsite/sprites/table/earth/earth_spin7.png') url('ArtDumWebsite/sprites/table/earth/earth_spin8.png') url('ArtDumWebsite/sprites/table/earth/earth_spin9.png') url('ArtDumWebsite/sprites/table/earth/earth_spin10.png') url('ArtDumWebsite/sprites/table/earth/earth_spin11.png') url('ArtDumWebsite/sprites/table/earth/earth_spin12.png') url('ArtDumWebsite/sprites/table/earth/earth_spin13.png') url('ArtDumWebsite/sprites/table/earth/earth_spin14.png') url('ArtDumWebsite/sprites/table/earth/earth_spin15.png') url('ArtDumWebsite/sprites/table/earth/earth_spin16.png') url('ArtDumWebsite/sprites/table/earth/earth_spin17.png') url('ArtDumWebsite/sprites/table/earth/earth_spin18.png') url('ArtDumWebsite/sprites/table/earth/earth_spin19.png') url('ArtDumWebsite/sprites/table/earth/earth_spin20.png') url('ArtDumWebsite/sprites/table/earth/earth_spin21.png') url('ArtDumWebsite/sprites/table/earth/earth_spin22.png') url('ArtDumWebsite/sprites/table/earth/earth_spin23.png') url('ArtDumWebsite/sprites/table/earth/earth_spin24.png') url('ArtDumWebsite/sprites/table/car/car_spin1.png') url('ArtDumWebsite/sprites/table/car/car_spin2.png') url('ArtDumWebsite/sprites/table/car/car_spin3.png') url('ArtDumWebsite/sprites/table/car/car_spin4.png') url('ArtDumWebsite/sprites/table/car/car_spin5.png') url('ArtDumWebsite/sprites/table/car/car_spin6.png') url('ArtDumWebsite/sprites/table/car/car_spin7.png') url('ArtDumWebsite/sprites/table/car/car_spin8.png') url('ArtDumWebsite/sprites/table/car/car_spin9.png') url('ArtDumWebsite/sprites/table/car/car_spin10.png') url('ArtDumWebsite/sprites/table/car/car_spin11.png') url('ArtDumWebsite/sprites/table/car/car_spin12.png') url('ArtDumWebsite/sprites/table/car/car_spin13.png') url('ArtDumWebsite/sprites/table/car/car_spin14.png') url('ArtDumWebsite/sprites/table/car/car_spin15.png') url('ArtDumWebsite/sprites/table/car/car_spin16.png') url('ArtDumWebsite/sprites/table/car/car_spin17.png') url('ArtDumWebsite/sprites/table/car/car_spin18.png') url('ArtDumWebsite/sprites/table/car/car_spin19.png') url('ArtDumWebsite/sprites/table/car/car_spin20.png') url('ArtDumWebsite/sprites/table/car/car_spin21.png') url('ArtDumWebsite/sprites/table/car/car_spin22.png') url('ArtDumWebsite/sprites/table/car/car_spin23.png') url('ArtDumWebsite/sprites/table/car/car_spin24.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin1.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin2.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin3.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin4.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin5.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin6.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin7.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin8.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin9.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin10.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin11.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin12.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin13.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin14.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin15.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin16.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin17.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin18.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin19.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin20.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin21.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin22.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin23.png') url('ArtDumWebsite/sprites/table/smiley/smiley_spin24.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin1.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin2.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin3.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin4.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin5.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin6.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin7.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin8.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin9.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin10.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin11.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin12.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin13.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin14.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin15.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin16.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin17.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin18.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin19.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin20.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin21.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin22.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin23.png') url('ArtDumWebsite/sprites/table/skateboard/skateboard_spin24.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin1.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin2.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin3.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin4.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin5.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin6.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin7.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin8.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin9.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin10.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin11.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin12.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin13.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin14.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin15.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin16.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin17.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin18.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin19.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin20.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin21.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin22.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin23.png') url('ArtDumWebsite/sprites/table/snabela/snabela_spin24.png') url('ArtDumWebsite/sprites/table/eyes/eyes1.png') url('ArtDumWebsite/sprites/table/eyes/eyes2.png') url('ArtDumWebsite/sprites/table/eyes/eyes3.png') url('ArtDumWebsite/sprites/table/eyes/eyes4.png') url('ArtDumWebsite/sprites/table/eyes/eyes5.png') url('ArtDumWebsite/sprites/table/eyes/eyes6.png') url('ArtDumWebsite/sprites/table/eyes/eyes7.png') url('ArtDumWebsite/sprites/table/eyes/eyes8.png') url('ArtDumWebsite/sprites/table/eyes/eyes9.png') url('ArtDumWebsite/sprites/table/eyes/eyes10.png') url('ArtDumWebsite/sprites/table/eyes/eyes11.png') url('ArtDumWebsite/sprites/table/eyes/eyes12.png') url('ArtDumWebsite/sprites/table/eyes/eyes13.png') url('ArtDumWebsite/sprites/table/eyes/eyes14.png') url('ArtDumWebsite/sprites/table/eyes/eyes15.png') url('ArtDumWebsite/sprites/table/eyes/eyes16.png') url('ArtDumWebsite/sprites/table/eyes/eyes17.png') url('ArtDumWebsite/sprites/table/eyes/eyes18.png') url('ArtDumWebsite/sprites/table/eyes/eyes19.png') url('ArtDumWebsite/sprites/table/eyes/eyes20.png') url('ArtDumWebsite/sprites/table/eyes/eyes21.png') url('ArtDumWebsite/sprites/table/eyes/eyes22.png') url('ArtDumWebsite/sprites/table/eyes/eyes23.png') url('ArtDumWebsite/sprites/table/eyes/eyes24.png');
}

/* Table stuff */
#table {
  background: url('ArtDumWebsite/sprites/table/table_closed.png') no-repeat;
  background-size: auto 100%;
  background-position-x: center;
  image-rendering: pixelated;
}

#table {
  height: 100%;
  width: 100%;
}

#table.open {
  background-image: url('ArtDumWebsite/sprites/table/table_open.png');
}

#table.open.animated {
  animation-name: open;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#table:not(.open):not(.eyes):not(.from-eyes) {
  animation-name: close;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-image: url('ArtDumWebsite/sprites/table/table_closed.png');
}


/*#table {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/* Drawer stuff */
#drawer {
  background: transparent;
  height: 15%;

  /*border: 1px solid white;*/
}

#drawer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 75vh;
  border: var(--debug-hit-box);
}

#drawer ul {
  border: var(--debug-hit-box);
  display: none;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 3vh 3vh 3vh;
  margin: 0;
  box-sizing: border-box;
}

#drawer ul.show {
  display: flex;
}

/* Drawer items */
#drawer ul li {
  list-style: none;
  border: var(--debug-hit-box);
  width: 5vh;
  height: 5vh;
}

#drawer ul li a {
  border: var(--debug-hit-box);
  width: 200%;
  height: 200%;
  transform: translate(-25%, -25%);
  text-decoration: none;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #000000;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%);
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.25s, visibility 0.25s, background 0.25s;
}

#drawer ul li:hover a {
  background: #000000;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%);
  visibility: visible;
  opacity: 100%;
}

#table:has(#earth:hover) {
  animation-name: earth_spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#table:has(#car:hover) {
  animation-name: car_spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#table:has(#smiley:hover) {
  animation-name: smiley_spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#table:has(#skateboard:hover) {
  animation-name: skateboard_spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#table:has(#snabela:hover) {
  animation-name: snabela_spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* PC stuff */
#pc {
  background: url('ArtDumWebsite/sprites/pc/pc_off.png') no-repeat;
  background-size: auto 100%;
  background-position-x: center;
  image-rendering: pixelated;

  height: 75%;
  width: 100%;
}

#pc {
  position: fixed;
  top: 0;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  pointer-events: none;
}

#pc.active {
  background-image: url('ArtDumWebsite/sprites/pc/pc_on.png');
}

/* Power btn */
#power-btn {
  position: fixed;
  top: 60vh;
  left: calc(50vw + 18vh);
  transform: translate(-50%, -50%);

  height: 5%;
  width: 10vh;
  background-color: transparent;
  border: var(--debug-hit-box);

  pointer-events: auto;
}

/* Screen */
#screen {
  position: fixed;
  top: 30.5%;
  left: calc(49.8vw);
  transform: translate(-50%, -50%);
  height: 38.1%;
  width: 50.5vh;
  pointer-events: auto;
  z-index: 1;
  background: black;
}

#pc.active + #screen * {
  opacity: 100%;
  visibility: visible;
  transition: visibility 5s, opacity 5s;
}

#pc:not(.active) + #screen * {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.25s, opacity 0.25s;
}

/* Video */
#screen_iframe {
  height: 100%;
  width: 100%;
  position: relative;
  pointer-events: auto;
}

/* Construction */
#ruler_guy {
  height: 20vh;
  width: 20vh;

  position: fixed;
  bottom: 40vh;
  left: calc(50vw - 47vh);
}

#power_tool {
  height: 10vh;
  width: 10vh;

  position: fixed;
  bottom: 40vh;
  right: calc(50vw - 47vh);
  pointer-events: auto;
}

#shooter {
  position: fixed;
  bottom: 0;
  right: 5vh;
}

#ribbon {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: repeating-linear-gradient(
    90deg, #000000, #000000 10%, #ffff00 10%, #ffff00 20%
  );
}

#ribbon marquee {
  padding: 0;
  margin: 0;
  mix-blend-mode: difference;
}

/* Dialog */
#dialog_container {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

#dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  max-width: 35vw;
  background-color: #01a7a8;
  z-index: 3;
  box-shadow: 20px 20px 0 0 rgba(0, 0, 0, 0.682);
  color: black;
  padding: 10px;
}

#dialog_content {
  text-align: center;
  padding: 2px;
  position: relative;
  border: 1px solid black;
  border-bottom: none;
}

#dialog_content::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 8px);
  height: 100%;
  border: 1px solid black;
  border-bottom: none;
}

#dialog_description {
  padding: 16px 18px 20px 18px;
  position: relative;
}

#dialog_description a {
  color: black;
}

#dialog_title {
  color: white;
  background-color: black;
  padding: 0 5px;
  line-height: initial;
  display: inline-block;
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
}

#dialog_actions {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  border: 1px solid black;
  border-top: none;
  position: relative;
  gap: 14px;
}

#dialog_actions::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border: 1px solid black;
  border-top: none;
  z-index: -1;
}

#dialog_actions button {
  color: black;
  height: 16px;
  box-shadow: 6px 6px 0 0 black;
  box-sizing: border-box;
  border: none;
  padding: 0 16px;
  margin: 0;
  background-color: white;
  flex-grow: 0;
  flex-basis: auto;
}

#dialog_actions button:hover {
  background-color: #fefc4f;
}

/* Eyes */
#table.eyes {
  background-image: url('ArtDumWebsite/sprites/table/eyes/eyes1.png');
  animation-name: eyes;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
