/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

html {
  height: 100%;
  width: 100%;

  --debug-hit-box:  1px solid white;
  /*--debug-hit-box: none;*/
}

body {
  background-image: url('/sprites/room.png');
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

body {
  color: white;
  font-family: Verdana, serif;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;


}

/* Cursor */
body {
  cursor: url('/sprites/hand_open.ico'), auto;
}

a:hover, button:hover, #drawer:hover, #drawer *:hover {
  cursor: url('/sprites/hand_point.ico'), pointer;
}

#screen
{
  cursor: auto;
}

/* Preload images */
body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1; /* Hide images */
  content: url('/sprites/table/open_close/table1.png') url('/sprites/table/open_close/table2.png') url('/sprites/table/open_close/table3.png') url('/sprites/table/open_close/table4.png') url('/sprites/table/open_close/table5.png') url('/sprites/table/open_close/table6.png') url('/sprites/table/open_close/table7.png') url('/sprites/table/open_close/table8.png') url('/sprites/table/open_close/table9.png') url('/sprites/table/open_close/table10.png') url('/sprites/table/open_close/table11.png') url('/sprites/table/open_close/table12.png') url('/sprites/table/earth/earth_spin1.png') url('/sprites/table/earth/earth_spin2.png') url('/sprites/table/earth/earth_spin3.png') url('/sprites/table/earth/earth_spin4.png') url('/sprites/table/earth/earth_spin5.png') url('/sprites/table/earth/earth_spin6.png') url('/sprites/table/earth/earth_spin7.png') url('/sprites/table/earth/earth_spin8.png') url('/sprites/table/earth/earth_spin9.png') url('/sprites/table/earth/earth_spin10.png') url('/sprites/table/earth/earth_spin11.png') url('/sprites/table/earth/earth_spin12.png') url('/sprites/table/earth/earth_spin13.png') url('/sprites/table/earth/earth_spin14.png') url('/sprites/table/earth/earth_spin15.png') url('/sprites/table/earth/earth_spin16.png') url('/sprites/table/earth/earth_spin17.png') url('/sprites/table/earth/earth_spin18.png') url('/sprites/table/earth/earth_spin19.png') url('/sprites/table/earth/earth_spin20.png') url('/sprites/table/earth/earth_spin21.png') url('/sprites/table/earth/earth_spin22.png') url('/sprites/table/earth/earth_spin23.png') url('/sprites/table/earth/earth_spin24.png') url('/sprites/table/car/car_spin1.png') url('/sprites/table/car/car_spin2.png') url('/sprites/table/car/car_spin3.png') url('/sprites/table/car/car_spin4.png') url('/sprites/table/car/car_spin5.png') url('/sprites/table/car/car_spin6.png') url('/sprites/table/car/car_spin7.png') url('/sprites/table/car/car_spin8.png') url('/sprites/table/car/car_spin9.png') url('/sprites/table/car/car_spin10.png') url('/sprites/table/car/car_spin11.png') url('/sprites/table/car/car_spin12.png') url('/sprites/table/car/car_spin13.png') url('/sprites/table/car/car_spin14.png') url('/sprites/table/car/car_spin15.png') url('/sprites/table/car/car_spin16.png') url('/sprites/table/car/car_spin17.png') url('/sprites/table/car/car_spin18.png') url('/sprites/table/car/car_spin19.png') url('/sprites/table/car/car_spin20.png') url('/sprites/table/car/car_spin21.png') url('/sprites/table/car/car_spin22.png') url('/sprites/table/car/car_spin23.png') url('/sprites/table/car/car_spin24.png') url('/sprites/table/smiley/smiley_spin1.png') url('/sprites/table/smiley/smiley_spin2.png') url('/sprites/table/smiley/smiley_spin3.png') url('/sprites/table/smiley/smiley_spin4.png') url('/sprites/table/smiley/smiley_spin5.png') url('/sprites/table/smiley/smiley_spin6.png') url('/sprites/table/smiley/smiley_spin7.png') url('/sprites/table/smiley/smiley_spin8.png') url('/sprites/table/smiley/smiley_spin9.png') url('/sprites/table/smiley/smiley_spin10.png') url('/sprites/table/smiley/smiley_spin11.png') url('/sprites/table/smiley/smiley_spin12.png') url('/sprites/table/smiley/smiley_spin13.png') url('/sprites/table/smiley/smiley_spin14.png') url('/sprites/table/smiley/smiley_spin15.png') url('/sprites/table/smiley/smiley_spin16.png') url('/sprites/table/smiley/smiley_spin17.png') url('/sprites/table/smiley/smiley_spin18.png') url('/sprites/table/smiley/smiley_spin19.png') url('/sprites/table/smiley/smiley_spin20.png') url('/sprites/table/smiley/smiley_spin21.png') url('/sprites/table/smiley/smiley_spin22.png') url('/sprites/table/smiley/smiley_spin23.png') url('/sprites/table/smiley/smiley_spin24.png') url('/sprites/table/skateboard/skateboard_spin1.png') url('/sprites/table/skateboard/skateboard_spin2.png') url('/sprites/table/skateboard/skateboard_spin3.png') url('/sprites/table/skateboard/skateboard_spin4.png') url('/sprites/table/skateboard/skateboard_spin5.png') url('/sprites/table/skateboard/skateboard_spin6.png') url('/sprites/table/skateboard/skateboard_spin7.png') url('/sprites/table/skateboard/skateboard_spin8.png') url('/sprites/table/skateboard/skateboard_spin9.png') url('/sprites/table/skateboard/skateboard_spin10.png') url('/sprites/table/skateboard/skateboard_spin11.png') url('/sprites/table/skateboard/skateboard_spin12.png') url('/sprites/table/skateboard/skateboard_spin13.png') url('/sprites/table/skateboard/skateboard_spin14.png') url('/sprites/table/skateboard/skateboard_spin15.png') url('/sprites/table/skateboard/skateboard_spin16.png') url('/sprites/table/skateboard/skateboard_spin17.png') url('/sprites/table/skateboard/skateboard_spin18.png') url('/sprites/table/skateboard/skateboard_spin19.png') url('/sprites/table/skateboard/skateboard_spin20.png') url('/sprites/table/skateboard/skateboard_spin21.png') url('/sprites/table/skateboard/skateboard_spin22.png') url('/sprites/table/skateboard/skateboard_spin23.png') url('/sprites/table/skateboard/skateboard_spin24.png') url('/sprites/table/snabela/snabela_spin1.png') url('/sprites/table/snabela/snabela_spin2.png') url('/sprites/table/snabela/snabela_spin3.png') url('/sprites/table/snabela/snabela_spin4.png') url('/sprites/table/snabela/snabela_spin5.png') url('/sprites/table/snabela/snabela_spin6.png') url('/sprites/table/snabela/snabela_spin7.png') url('/sprites/table/snabela/snabela_spin8.png') url('/sprites/table/snabela/snabela_spin9.png') url('/sprites/table/snabela/snabela_spin10.png') url('/sprites/table/snabela/snabela_spin11.png') url('/sprites/table/snabela/snabela_spin12.png') url('/sprites/table/snabela/snabela_spin13.png') url('/sprites/table/snabela/snabela_spin14.png') url('/sprites/table/snabela/snabela_spin15.png') url('/sprites/table/snabela/snabela_spin16.png') url('/sprites/table/snabela/snabela_spin17.png') url('/sprites/table/snabela/snabela_spin18.png') url('/sprites/table/snabela/snabela_spin19.png') url('/sprites/table/snabela/snabela_spin20.png') url('/sprites/table/snabela/snabela_spin21.png') url('/sprites/table/snabela/snabela_spin22.png') url('/sprites/table/snabela/snabela_spin23.png') url('/sprites/table/snabela/snabela_spin24.png');
}

/* Table stuff */
#table {
  background: url('/sprites/table/table_closed.png') no-repeat;
  background-size: auto 100%;
  background-position-x: center;
  image-rendering: pixelated;
}

#table {
  height: 100%;
  width: 100%;
}

#table.open {
  background-image: url('/sprites/table/table_open.png');
}

#table.open.animated {
  animation-name: open;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#table:not(.open) {
  animation-name: close;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-image: url('/sprites/table/table_closed.png');
}


/*#table {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/* Drawer stuff */
#drawer {
  background: transparent;
  height: 15%;

  /*border: 1px solid white;*/
}

#drawer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 75vh;
  border: var(--debug-hit-box);
}

#drawer ul {
  border: var(--debug-hit-box);
  display: none;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 3vh 3vh 3vh;
  margin: 0;
  box-sizing: border-box;
}

#drawer ul.show {
  display: flex;
}

/* Drawer items */
#drawer ul li {
  list-style: none;
  border: var(--debug-hit-box);
  width: 5vh;
  height: 5vh;
}

#drawer ul li a {
  border: var(--debug-hit-box);
  width: 200%;
  height: 200%;
  transform: translate(-25%, -25%);
  text-decoration: none;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #000000;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%);
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.25s, visibility 0.25s, background 0.25s;
}

#drawer ul li:hover a {
  background: #000000;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%);
  visibility: visible;
  opacity: 100%;
}

#table:has(#earth:hover) {
  animation-name: earth_spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#table:has(#car:hover) {
  animation-name: car_spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#table:has(#smiley:hover) {
  animation-name: smiley_spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#table:has(#skateboard:hover) {
  animation-name: skateboard_spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#table:has(#snabela:hover) {
  animation-name: snabela_spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* PC stuff */
#pc {
  background: url('/sprites/pc/pc_off.png') no-repeat;
  background-size: auto 100%;
  background-position-x: center;
  image-rendering: pixelated;

  height: 75%;
  width: 100%;
}

#pc {
  position: fixed;
  top: 0;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  pointer-events: none;
}

#pc.active {
  background-image: url('/sprites/pc/pc_on.png');
}

/* Power btn */
#power-btn {
  position: fixed;
  top: 60%;
  left: calc(50vw + 18vh);
  transform: translate(-50%, -50%);

  height: 5%;
  width: 10vh;
  background-color: transparent;
  border: var(--debug-hit-box);

  pointer-events: auto;
}

/* Screen */
#screen {
  position: fixed;
  top: 30.5%;
  left: calc(49.8vw);
  transform: translate(-50%, -50%);
  height: 38.1%;
  width: 50.5vh;
  pointer-events: auto;
  z-index: 1;
  background: black;
}

#pc:not(.active) + #screen * {
  display: none;
}

/* Video */
#chlorine {
  height: 100%;
  width: 100%;
  position: relative;
  pointer-events: auto;
}

/* Construction */
#ruler_guy {
  height: 20vh;
  width: 20vh;

  position: fixed;
  bottom: 40vh;
  left: calc(50vw - 47vh);
}

#power_tool {
  height: 10vh;
  width: 10vh;

  position: fixed;
  bottom: 40vh;
  right: calc(50vw - 47vh);
}

#shooter {
  position: fixed;
  bottom: 0;
  right: 5vh;
}

#ribbon {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: repeating-linear-gradient(
    90deg, #000000, #000000 10%, #ffff00 10%, #ffff00 20%
  );
}

#ribbon p {
  text-align: center;
  padding: 0;
  margin: 0;
  mix-blend-mode: difference;
}
