/* Scale base font size with viewport */
html {
  font-size: min(4vmin, 22px);
}

body {
  background: url("ArtDumpWebsite/sprites/clouds.png");
  background-size: 250px 250px;
  font-family: 'MS Gothic', sans-serif;
  font-style: italic;
  overflow: auto;
  position: relative;

  /* optional: a bit smaller globally if needed */
  font-size: 1rem;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
}

#notebook {
  background-image: url("ArtDumpWebsite/sprites/notebook.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  width: 120vw;
  height: 120vh;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

  box-sizing: border-box;
  padding: 10vh 0 0 0;
}

#man {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 30vmin;
  height: auto;
  cursor: pointer;
  z-index: 10;
}

#man-img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.notebook-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 75%;
}

#page-selector {
  width: 100%;
  height: 100%;
}

.notebook-container, #page-selector {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 8%;
}

.selector {
  display: flex;

  align-items: center;
  cursor: pointer;

  opacity: 0.35;
  transition: opacity 0.2s ease-in-out;
}

.selector:hover {
  opacity: 1;
}

.notebook-left {
  display: flex;
  flex-direction: column;
}

.notebook-right {
  display: flex;
  flex-direction: column;
}

.selector > img {
  width: 20%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.notebook-container > div, #page-selector > div {
  flex: 1;
}

#speech-bubble {
  width: fit-content;
  background-color: #FBF9CE;
  border-radius: 15px;
  border: 1px solid black;
  padding: 0.5rem;

  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#speech-bubble:not(:empty) {
  visibility: visible;
  opacity: 1;
}

#speech-bubble:empty {
  visibility: hidden;
  opacity: 0;
}

.pickup-able {
  cursor: grab;
  position: relative; /* create a base stacking context inside notebook */
  z-index: 1;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
