html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  --alien-bounce-speed: 2s;
  --alien-speed: 10s;
}

body {
  background: url("/sprites/clouds.png");
  background-size: 250px 250px;
  font-family: 'MS Gothic', sans-serif;
  font-style: italic;
  overflow: auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

#notebook {
  background-image: url("/sprites/notebook.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  width: 120vw;
  height: 120vh;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  padding: 10vh 0 0 0;
}

#man {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 30vmin; /* scales with viewport */
  height: auto;
  cursor: pointer;
}

#man-img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.notebook-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 75%;
}

#page-selector {
  width: 100%;
  height: 100%;
}

.notebook-container, #page-selector {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 8%;
}

.selector {
  display: flex;

  align-items: center;
  cursor: pointer;

  opacity: 0.35;
  transition: opacity 0.2s ease-in-out;

}

.selector:hover {
  opacity: 1;
}

#selector-left {
  padding-left: 4%;
}

#selector-right {
  padding-right: 10%;
}

.notebook-left {
  display: flex;
  flex-direction: column;
}

.notebook-right {
  display: flex;
  flex-direction: column;
}

.selector > img {
  width: 15%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.notebook-container > div, #page-selector > div {
  flex: 1;
}

#speech-bubble {
  width: fit-content;
  background-color: #FBF9CE;
  border-radius: 15px;
  border: 1px solid black;
  padding: 0.5rem;

  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#speech-bubble:not(:empty) {
  visibility: visible;
  opacity: 1;
}

#speech-bubble:empty {
  visibility: hidden;
  opacity: 0;
}
